ion-item{
    font-weight: bold;

}

ion-card-content{
    font-style: italic;
    padding: 10px;
}

ion-card{
    border-radius: 20px;
    padding-bottom: 10px;
}
#primeirocard{
    border-radius: 5px;
    font-style: normal;

}
ion-badge{
    font-size: 11px;
}

