// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /**amarelo claro**/
  --ion-color-amareloclaro: #ffebcd;
  --ion-color-amareloclaro-rgb: 255,235,205;
  --ion-color-amareloclaro-contrast: #000000;
  --ion-color-amareloclaro-contrast-rgb: 0,0,0;
  --ion-color-amareloclaro-shade: #e0cfb4;
  --ion-color-amareloclaro-tint: #ffedd2;


  /**azul claro**/
  --ion-color-azulclaro: #a8cdd6;
  --ion-color-azulclaro-rgb: 139,198,212;
  --ion-color-azulclaro-contrast: #000000;
  --ion-color-azulclaro-contrast-rgb: 0,0,0;
  --ion-color-azulclaro-shade: #7aaebb;
  --ion-color-azulclaro-tint: #97ccd8;

  --ion-color-rosaclaro: #e7abc0;
  --ion-color-rosaclaro-rgb: 231,171,192;
  --ion-color-rosaclaro-contrast: #000000;
  --ion-color-rosaclaro-contrast-rgb: 0,0,0;
  --ion-color-rosaclaro-shade: #cb96a9;
  --ion-color-rosaclaro-tint: #e9b3c6;

  --ion-color-bege: #eaddd6;
  --ion-color-bege-rgb: 234,221,214;
  --ion-color-bege-contrast: #000000;
  --ion-color-bege-contrast-rgb: 0,0,0;
  --ion-color-bege-shade: #cec2bc;
  --ion-color-bege-tint: #ece0da;

  --ion-color-roxao: #542871;
  --ion-color-roxao-rgb: 84,40,113;
  --ion-color-roxao-contrast: #ffffff;
  --ion-color-roxao-contrast-rgb: 255,255,255;
  --ion-color-roxao-shade: #4a2363;
  --ion-color-roxao-tint: #653e7f;

  --ion-color-roxososo: #6a507c;
  --ion-color-roxososo-rgb: 106,80,124;
  --ion-color-roxososo-contrast: #ffffff;
  --ion-color-roxososo-contrast-rgb: 255,255,255;
  --ion-color-roxososo-shade: #5d466d;
  --ion-color-roxososo-tint: #796289;

  -ion-color-roxinho: #dac2ea;
  --ion-color-roxinho-rgb: 218,194,234;
  --ion-color-roxinho-contrast: #000000;
  --ion-color-roxinho-contrast-rgb: 0,0,0;
  --ion-color-roxinho-shade: #c0abce;
  --ion-color-roxinho-tint: #dec8ec;

  --ion-background-color: #dac2ea;
  
}

.ion-color-amareloclaro {
  --ion-color-base: var(--ion-color-amareloclaro);
  --ion-color-base-rgb: var(--ion-color-amareloclaro-rgb);
  --ion-color-contrast: var(--ion-color-amareloclaro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-amareloclaro-contrast-rgb);
  --ion-color-shade: var(--ion-color-amareloclaro-shade);
  --ion-color-tint: var(--ion-color-amareloclaro-tint);
}

.ion-color-azulclaro {
  --ion-color-base: var(--ion-color-azulclaro);
  --ion-color-base-rgb: var(--ion-color-azulclaro-rgb);
  --ion-color-contrast: var(--ion-color-azulclaro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azulclaro-contrast-rgb);
  --ion-color-shade: var(--ion-color-azulclaro-shade);
  --ion-color-tint: var(--ion-color-azulclaro-tint);
}

.ion-color-rosaclaro {
  --ion-color-base: var(--ion-color-rosaclaro);
  --ion-color-base-rgb: var(--ion-color-rosaclaro-rgb);
  --ion-color-contrast: var(--ion-color-rosaclaro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosaclaro-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosaclaro-shade);
  --ion-color-tint: var(--ion-color-rosaclaro-tint);
}

.ion-color-bege {
  --ion-color-base: var(--ion-color-bege);
  --ion-color-base-rgb: var(--ion-color-bege-rgb);
  --ion-color-contrast: var(--ion-color-bege-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bege-contrast-rgb);
  --ion-color-shade: var(--ion-color-bege-shade);
  --ion-color-tint: var(--ion-color-bege-tint);
}

.ion-color-roxao {
  --ion-color-base: var(--ion-color-roxao);
  --ion-color-base-rgb: var(--ion-color-roxao-rgb);
  --ion-color-contrast: var(--ion-color-roxao-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxao-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxao-shade);
  --ion-color-tint: var(--ion-color-roxao-tint);
}

.ion-color-roxososo {
  --ion-color-base: var(--ion-color-roxososo);
  --ion-color-base-rgb: var(--ion-color-roxososo-rgb);
  --ion-color-contrast: var(--ion-color-roxososo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxososo-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxososo-shade);
  --ion-color-tint: var(--ion-color-roxososo-tint);
}

.ion-color-roxinho {
  --ion-color-base: var(--ion-color-roxinho);
  --ion-color-base-rgb: var(--ion-color-roxinho-rgb);
  --ion-color-contrast: var(--ion-color-roxinho-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxinho-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxinho-shade);
  --ion-color-tint: var(--ion-color-roxinho-tint);
}